{{<layout-property-page-v1}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <h1 class="heading-xlarge">Digital Register Index Page</h1>
  <!-- feel free to change this page to suit your needs -->

  <p>This contains version of the digital register prototype.</p>

  <h2 class="heading-large">Pages</h2>

  <ul>
    <li>
      <a href="/digital-register/v1/">Digital Register Journey (v1)</a>
    </li>
  </ul>

</main>

{{/content}}

{{/layout-property-page-v1}}
