// Import GOV.UK frontend toolkit
@import "colours";
@import "measurements";
@import "conditionals";
@import "typography";
@import "shims";

// Sign out area

.account {
  @include core-16;
  padding: 0.75em 0 0 0;

  @include media(tablet) {
    padding: 0.75em 0 $gutter 0;
    text-align: right;
  }

}

// Extent preview (leaflet area)

#map-location {
  width: 500px;
  height: 333px;
}

// Document downloads area

.download-documents {
  margin: 0 0 $gutter*1.5 0;
  padding: $gutter;
  border: 10px solid $light-blue;
}

.document-item {
  @extend %contain-floats;

  .image {
    display: inline-block;

    &:hover {
      outline: 3px solid $yellow;
    }

    img {
      height: 140px;
      box-shadow: 0 1px 3px $grey-2;
    }
  }

  .title {
    margin-top: $gutter/4;
  }
  .footnote {
    margin-bottom: $gutter/4;
  }
}
