@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.definition-tabular:after {
  content: "";
  display: block;
  clear: both; }

h1.property-details-title-prefix {
  margin-top: 0; }

.property-details-title-prefix {
  color: #6f777b;
  font-family: "nta", Arial, sans-serif;
  font-size: 27px;
  line-height: 1.1111111111;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 1.25em;
  margin-top: 0.625em; }
  @media (max-width: 640px) {
    .property-details-title-prefix {
      font-size: 20px;
      line-height: 1.1111111111; } }

.address {
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.1111111111;
  font-weight: 700;
  text-transform: none;
  margin-bottom: 15px; }
  @media (max-width: 640px) {
    .address {
      font-size: 24px;
      line-height: 1.0416666667; } }

.definition-tabular dt {
  width: 33.3333333333%;
  clear: left;
  float: left;
  margin-bottom: 10px;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.3157894737;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .definition-tabular dt {
      font-size: 16px;
      line-height: 1.25; } }

.definition-tabular dd {
  float: left;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.3157894737;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 10px;
  font-weight: bold; }
  @media (max-width: 640px) {
    .definition-tabular dd {
      font-size: 16px;
      line-height: 1.25; } }

.map-placeholder img {
  max-width: calc(100% - 8px);
  display: block;
  border: 4px solid #dee0e2; }

.bottom-section p {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none; }
  @media (max-width: 640px) {
    .bottom-section p {
      font-size: 14px;
      line-height: 1.1428571429; } }

ol {
  list-style-type: decimal; }

ol.lower-roman {
  list-style-type: lower-roman; }

.push-60 {
  margin-top: 30px; }

.fap-link {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #bfc1c3; }
