@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.definition-tabular:after, .definition-tabular--b:after, .definition-tabular--1-3:after, .definition-tabular--1-3--b:after, .definition-inline:after, .deed-relationship:after, .callout:after, .callout--summary .lede:after {
  content: "";
  display: block;
  clear: both; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.definition-tabular:after, .definition-tabular--b:after, .definition-tabular--1-3:after, .definition-tabular--1-3--b:after, .definition-inline:after, .deed-relationship:after, .callout:after, .callout--summary .lede:after {
  content: "";
  display: block;
  clear: both; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.definition-tabular:after, .definition-tabular--b:after, .definition-tabular--1-3:after, .definition-tabular--1-3--b:after, .definition-inline:after, .deed-relationship:after, .callout:after, .callout--summary .lede:after {
  content: "";
  display: block;
  clear: both; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.definition-tabular:after, .definition-tabular--b:after, .definition-tabular--1-3:after, .definition-tabular--1-3--b:after, .definition-inline:after, .deed-relationship:after, .callout:after, .callout--summary .lede:after {
  content: "";
  display: block;
  clear: both; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.example-highlight-grid .grid-row {
  background: #bfc1c3; }
.example-highlight-grid .column-highlight {
  background: #dee0e2;
  width: 100%; }

.example-back-link {
  display: -moz-inline-stack;
  display: inline-block;
  margin-top: 30px; }

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.js-enabled .js-hidden {
  display: none; }

.js-enabled .js-faux-details > :first-child {
  cursor: pointer;
  position: relative;
  margin-top: 0;
  padding-left: 0.8em; }
  .js-enabled .js-faux-details > :first-child:hover {
    color: #2e8aca; }
  .js-enabled .js-faux-details > :first-child:focus {
    outline: 3px solid #ffbf47; }
  .js-enabled .js-faux-details > :first-child:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0.2em;
    border-top: 0.3464em dotted transparent;
    border-right: 0.4 solid transparent;
    border-bottom: 0.3464em dotted transparent;
    border-left: 0.4em solid #0b0c0c; }
.js-enabled .js-faux-details-wrapper {
  display: none;
  margin-bottom: 1.31579em; }
  @media (min-width: 641px) {
    .js-enabled .js-faux-details-wrapper {
      margin-bottom: 2.36842em; } }
.js-enabled .js-faux-details--open > :first-child:before {
  top: 0.35em;
  border-top: 0.4em solid #0b0c0c;
  border-right: 0.3464em dotted transparent;
  border-bottom: 0.4em solid transparent;
  border-left: 0.3464em dotted transparent; }
.js-enabled .js-faux-details--open .js-faux-details-wrapper {
  display: block; }

.heading-prefix {
  font-family: "nta", Arial, sans-serif;
  font-size: 27px;
  line-height: 1.1111111111;
  font-weight: 400;
  text-transform: none;
  display: block;
  color: #6f777b; }
  @media (max-width: 640px) {
    .heading-prefix {
      font-size: 20px;
      line-height: 1.1111111111; } }
  .heading-prefix + h1, .heading-prefix + h2 {
    margin-top: 0; }

/* dl */
@media (min-width: 641px) {
  .definition-tabular dt, .definition-tabular--b dt {
    float: left;
    clear: left;
    width: 25%;
    margin-bottom: 10px; } }
.definition-tabular dt:after, .definition-tabular--b dt:after {
  content: ':'; }
.definition-tabular dd, .definition-tabular--b dd {
  margin-bottom: 10px; }
  @media (min-width: 641px) {
    .definition-tabular dd, .definition-tabular--b dd {
      float: left;
      width: 75%; } }

/* dl */
.definition-tabular--b dd {
  font-weight: bold; }

/* dl */
@media (min-width: 641px) {
  .definition-tabular--1-3 dt, .definition-tabular--1-3--b dt {
    float: left;
    clear: left;
    width: 33.3333333333%;
    margin-bottom: 10px; } }
.definition-tabular--1-3 dt:after, .definition-tabular--1-3--b dt:after {
  content: ':'; }
.definition-tabular--1-3 dd, .definition-tabular--1-3--b dd {
  margin-bottom: 10px; }
  @media (min-width: 641px) {
    .definition-tabular--1-3 dd, .definition-tabular--1-3--b dd {
      float: left;
      width: 66.6666666667%; } }

/* dl */
.definition-tabular--1-3--b dd {
  font-weight: bold; }

/* dd */
.definition-inline dt {
  clear: left;
  float: left;
  margin-right: 0.2em; }
  .definition-inline dt:after {
    content: ':'; }
.definition-inline dd {
  float: left; }

/*
// Deed relationship definition lists - i.e. "lessors" followed by "lessees"

<div class="deed-relationship">
  <dl>
    <dt>Between</dt>
    <dd>Helen Cassidy</dd>
    <dd>Jerome Hall</dd>
  </dl>
  <dl>
    <dt>and</dt>
    <dd>Clara Teoh</dd>
  </dl>
</div>

*/
.deed-relationship {
  margin-bottom: 1em; }
  .deed-relationship dt {
    font-style: italic;
    padding-bottom: 0.25em; }
  .deed-relationship dd {
    padding-bottom: 0.25em; }
  @media (min-width: 641px) {
    .deed-relationship dl {
      float: left;
      width: 50%; }

    .deed-relationship dt {
      float: left;
      width: 30%; }

    .deed-relationship dd {
      float: left;
      width: 70%; }
      .deed-relationship dd:not(:first-of-type) {
        margin-left: 30%; }
 }

img {
  display: block;
  max-width: 100%; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

small {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    small {
      font-size: 14px;
      line-height: 1.1428571429; } }

del {
  text-decoration: none;
  background-color: #f9d6d6; }

ins {
  text-decoration: none;
  background-color: #e7ebda; }

abbr {
  border-bottom: 1px dotted; }

.footnote {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  color: #6f777b; }
  @media (max-width: 640px) {
    .footnote {
      font-size: 14px;
      line-height: 1.1428571429; } }

pre code {
  padding: 0;
  border: none; }

.alert-flag {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  letter-spacing: 1px;
  text-decoration: none;
  color: #0b0c0c;
  background-color: #fff2d3;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em; }
  @media (min-width: 641px) {
    .alert-flag {
      vertical-align: baseline; } }

.confirm-flag {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  letter-spacing: 1px;
  text-decoration: none;
  color: #0b0c0c;
  background-color: #cce0d6;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em; }
  @media (min-width: 641px) {
    .confirm-flag {
      vertical-align: baseline; } }

.number-flag {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
  color: #fff;
  background-color: #2b8cc4;
  display: inline-block;
  width: 1.65em;
  height: 1.65em;
  margin-left: 0.25em;
  padding-top: 0.25em;
  text-align: center;
  vertical-align: middle; }
  @media (max-width: 640px) {
    .number-flag {
      font-size: 14px;
      line-height: 1.1428571429; } }

.callout {
  margin: 30px 0;
  padding: 30px; }
  .callout .first-heading {
    margin-top: 0; }

.callout--summary {
  color: #fff;
  background-color: #005ea5; }
  .callout--summary .title-flag {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    letter-spacing: 1px;
    text-decoration: none;
    color: #005ea5;
    background-color: #fff; }
    @media (min-width: 641px) {
      .callout--summary .title-flag {
        vertical-align: baseline; } }
  .callout--summary .lede {
    margin-bottom: 30px;
    padding: 30px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff; }
  .callout--summary .title-plan {
    border: 2px solid #fff; }

.callout--notice {
  background-color: #fff2d3; }

.callout--action-notice {
  color: #0b0c0c;
  background-color: #28a197; }
  .callout--action-notice .title-flag {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: #0b0c0c; }
    @media (min-width: 641px) {
      .callout--action-notice .title-flag {
        vertical-align: baseline; } }

.callout--generated-token {
  text-align: center; }
  .callout--generated-token h1 {
    margin: 0; }

nav ol, nav ul {
  list-style-type: none; }

.page-contents {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .page-contents {
      font-size: 14px;
      line-height: 1.1428571429; } }
  .page-contents li:before {
    content: '-';
    margin-right: 15px; }

.collapse {
  margin-top: 0;
  margin-bottom: 0; }

.collapse-top {
  margin-top: 0; }

.collapse-bottom {
  margin-bottom: 0; }

.expand {
  margin-top: 30px;
  margin-bottom: 30px; }

.expand-top {
  margin-top: 30px; }

.expand-bottom {
  margin-bottom: 30px; }

.legal-division--top {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 4px solid #2b8cc4; }

.legal-division--bottom {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 4px solid #2b8cc4; }

.action-division--top {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 2px solid #dee0e2; }

.pending-changes-flag {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #fff; }
  .pending-changes-flag p {
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    color: #005ea5;
    background-color: #ffffff; }
  .pending-changes-flag a {
    margin: 0;
    font-weight: 700; }

.register-item-listing li {
  margin-bottom: 1.25em; }

p.sub-heading-small {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.3157894737;
  font-weight: 400;
  text-transform: none;
  margin-top: 0;
  color: #6f777b; }
  @media (max-width: 640px) {
    p.sub-heading-small {
      font-size: 16px;
      line-height: 1.25; } }
