{{<layout-property-page-v1}}

{{$pageTitle}}
	Property Page Demo
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="page-section top-section">
		<div class="phase-banner">
			<p>
				<strong class="phase-tag">BETA</strong>
				<span>This is a user research and design prototype. <a href="https://www.gov.uk/service-manual/phases">Find out more about service and design phases</a>.</span>
			</p>
		</div>

		<div class="inner-block">
			<div class="grid-row">
				<div class="column-half property-details">
					<h1 class="property-details-title-prefix">Property details</h1>
					<h2 class="address">43 Southernway</h2>
					<h2 class="address">Plymstock</h2>
					<h2 class="address">Plymouth</h2>
					<h2 class="address">PL9 8TB</h2>

					<div class="definition-tabular">
						<dt>Property type:</dt>
						<dd>terraced</dd>
						<dt>Price paid:</dt>
						<dd>£250,000 on 21 July 2013</dd>
					</div>

					<div class="fap-link">
						<p>Click the link below to find more details on the property:</p>
						<a href="http://eservices.landregistry.gov.uk/wps/portal/Property_Search">Find a Property</a>
					</div>
				</div>

				<div class="column-half map-placeholder">
					<img src="http://maps.google.com/maps/api/staticmap?markers=99,88|99,88&zoom=17&size=500x400"/>
				</div>
			</div>
		</div>
	</div>
</main>

{{/content}}

{{/layout-property-page-v1}}
