{{<layout-property-page-v1}}

{{$pageTitle}}
	Property Page Demo
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner">
		<p>
			<strong class="phase-tag">BETA</strong>
			<span>This is a user research and design prototype. <a href="https://www.gov.uk/service-manual/phases">Find out more about service and design phases</a>.</span>
		</p>
	</div>

  <div class="grid-row push-60">

    <div class="column-half property-details">

			<h1 class="property-details-title-prefix">Property details</h1>
			<h2 class="address">
        43 Southernway<br>
			  Plymstock<br>
        Plymouth<br>
        PL9 8TB
      </h2>

			<dl class="definition-tabular">
				<dt>Property type:</dt>
				<dd>terraced</dd>
				<dt>Price paid:</dt>
				<dd>£250,000 on 21 July 2013</dd>
			</dl>

    </div>

		<div class="column-half map-placeholder">
      <img src="http://maps.google.com/maps/api/staticmap?markers=99,88|99,88&zoom=17&size=500x400"/>
		</div>

  </div>

  <div class="bottom-section fap-link">
    <p>
      The Land Registry may hold more detailed information on this property, such as who owns it. Access the Land Registry service
      <a href="https://www.gov.uk/search-property-information-land-registry">here</a>
    </p>
  </div>
  
</main>

{{/content}}

{{/layout-property-page-v1}}
