.document-selection {

  label {
    display: inline-block;
    border: 1px solid $grey-3;
    padding: 15px 15px 12px 8px;
    margin-bottom: $gutter-half;

    &:hover {
      border-color: $black;
    }
  }

  input[type='checkbox'] {
    position: relative;
    top: -2px;
  }

  input[type='radio'] {
    position: relative;
    top: -2px;
  }

  details {
    margin-bottom: $gutter;
  }
}