// UTILITIES
// Simple utility classes
// ==========================================================================

// a utility class to collapse bottom and top borders, on things like a nested <ul>...?
.collapse {
  margin-top: 0;
  margin-bottom: 0;
}

.collapse-top {
  margin-top: 0;
}

.collapse-bottom {
  margin-bottom: 0;
}

.expand {
  margin-top: $gutter;
  margin-bottom: $gutter;
}

.expand-top {
  margin-top: $gutter;
}

.expand-top-half {
  margin-top: $gutter-half;
}

.expand-bottom {
  margin-bottom: $gutter;
}

.expand-bottom-half {
  margin-bottom: $gutter-half;
}

.expand-bottom-quarter {
  margin-bottom: $gutter-half/2;
}

.division--top {
  margin-top: $gutter;
  padding-top: $gutter;
  border-top: 1px solid $grey-3;
}
.division--bottom {
  margin-bottom: $gutter;
  padding-bottom: $gutter;
  border-bottom: 1px solid $grey-3;
}

.legal-division--top {
  margin-top: $gutter;
  padding-top: $gutter;
  border-top: 4px solid $light-blue;
}
.legal-division--bottom {
  margin-bottom: $gutter;
  padding-bottom: $gutter;
  border-bottom: 4px solid $light-blue;
}

.action-division--top {
  margin-top: $gutter;
  padding-top: $gutter;
  border-top: 2px solid $grey-3;
}

.clear {
  clear: both;
}

.login-signout-header {
  margin-top: 10px;
  font-size: 16px;
  text-align: right;
}

.column-three-quarters {
  @include grid-column( 3/4 );
}

.column-flip {
  @include media(tablet) {
    float: right;
  }
}

// Sign in / out area

.account {
  @include core-16;
  padding: 0.75em 0 0 0;

  @include media(tablet) {
    padding: 0.75em 0 $gutter 0;
    text-align: right;
  }
  
}