{{<layout-property-page-v1}}

{{$pageTitle}}
	Property Page Index
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Property Page Index</h1>

	<h2 class="heading-large">Showcase</h2>
	<p>This section contains mocked user journeys that link up to existing code in the preview environment.</p>

	<ul>
		<li><a href="/property-page/showcase">Click to run the showcase journeys and code</a></li>
	</ul>

	<h2 class="heading-large">Demo</h2>
	<p>This section contains static html demo pages to demonstrate what we are aiming to deliver for public beta.</p>

	<ul>
		<li><a href="/properties/PL20_7HE/25_UNDERWAYS_YELVERTON">Click to run the public beta demo</a></li>
	</ul>

	<h2 class="heading-large">Prototypes</h2>
	<p>This section contains various versions of static html prototypes used for user research.</p>

	<ul>
		<li><a href="/property-page/prototype-v0">Property page v0 (alpha baseline)</a></li>
		<li><a href="/property-page/prototype-v1">Property page journey v1</a></li>
	</ul>

</main>

{{/content}}

{{/layout-property-page-v1}}
