{{<govuk_template}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$head}}
  {{>includes/head}}
  <link href="/public/vendor/leaflet/leaflet.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/register-v1.css" media="screen" rel="stylesheet" type="text/css" />
  <style type="text/css">
    #map-location {
      height: 280px;
      margin: 30px 0 45px 0;
      border: 1px solid #ddd;
    }
    .lede {
      margin: 30px 0;
    }
    .callout--download {
      padding-left: 0;
    }
    .definition-tabular--b {
      margin-bottom: 30px;
    }
  </style>
{{/head}}

{{$content}}

<main id="content" role="main">

  {{>digital-register/includes/banner}}

  
  <div class="legal-division--bottom">

    <h1 class="heading-xlarge collapse-bottom">
      Summary of title HP725748
    </h1>

    <div id="map-location">
      <img src="http://placehold.it/960x280" alt="Map showing location of title address">
    </div>

    <div class="lede" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress">
        3a Mandela Way<br>
      </span>
      <span itemprop="addressLocality">Southampton</span><br>
      <span itemprop="postalCode">SO15 5RZ</span>
    </div>

    <div class="text">

      <dl class="definition-tabular--b">
        <dt>Owner(s)</dt>
        <dd>
          <!-- if there's only 1 registered owner, don't wrap a <ul> -->
          <!--<ul class="collapse">-->
            Darcy Bloggs
        </dd>

        <dt>Lender(s)</dt>
        <dd>Abbey National PLC</dd>

        <dt>Tenure type</dt>
        <dd>Leasehold, 99 years from 3 October 2012</dd>

        <dt>Price paid</dt>
        <dd>&pound;188,000 on 3 October 2012</dd>

        <dt>Title quality</dt>
        <dd>Absolute</dd>

      </dl>

      <p class="footnote">
        This register was last changed on <b>15 October 2012</b> at <b>11:21:18</b>
      </p>

    </div>

  </div>

  <div class="callout--download">
    <a href="#">Download a full copy</a> of this title<!-- and associated documents-->
  </div>


</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
  
  <script type="text/javascript" src="/public/javascripts/jquery-1.11.2.js"></script>
  <script type="text/javascript" src="/public/javascripts/stick-at-top-when-scrolling.js"></script>
  <script type="text/javascript" src="/public/javascripts/stop-scrolling-at-footer.js"></script>
  <script type="text/javascript" src="/public/vendor/leaflet/leaflet.js"></script>
  <script type="text/javascript">
    $(function() {

      // initialise map
      var map = L.map('map-location').setView([50.9093302300135, -1.4162035035567726], 18);

      L.tileLayer('http://{s}.tiles.mapbox.com/v3/demotive.l9g87168/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &copy; <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18
      }).addTo(map);

      var marker = L.marker([50.9093302300135, -1.4162035035567726]).addTo(map);

      // stop the position:fixed subnav rolling into footer
      GOVUK.stopScrollingAtFooter.addEl($('.js-stick-at-top-when-scrolling'), $('.js-stick-at-top-when-scrolling').height());

    });
  </script>

{{/bodyEnd}}

{{/govuk_template}}
