{{<govuk_template}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$head}}
  {{>includes/head}}
  <link href="/public/vendor/leaflet/leaflet.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/register-v1.css" media="screen" rel="stylesheet" type="text/css" />
  <style type="text/css">
    #map-location {
      height: 280px;
      margin: 30px 0 45px 0;
      border: 1px solid #ddd;
    }
    .lede {
      margin: 30px 0;
    }
    .callout--download {
      padding-left: 0;
    }
    .definition-tabular--b {
      margin-bottom: 30px;
    }
  </style>
  <link href="/public/stylesheets/chartist.css" media="screen" rel="stylesheet" type="text/css" />
{{/head}}

{{$content}}

<main id="content" role="main">

  {{>digital-register/includes/banner}}

  
  <div class="legal-division--bottom">

    <h1 class="heading-xlarge collapse-bottom">
      Summary of title HP725748
    </h1>

    <div id="map-location">
      <img src="http://placehold.it/960x280" alt="Map showing location of title address">
    </div>

    <div class="lede" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress">
        3a Mandela Way<br>
      </span>
      <span itemprop="addressLocality">Southampton</span><br>
      <span itemprop="postalCode">SO15 5RZ</span>
    </div>

    <div class="text">

      <dl class="definition-tabular--b">
        <dt>Owner(s)</dt>
        <dd>
          <!-- if there's only 1 registered owner, don't wrap a <ul> -->
          <!--<ul class="collapse">-->
            Darcy Bloggs
        </dd>

        <dt>Lender(s)</dt>
        <dd>Abbey National PLC</dd>

        <dt>Tenure type</dt>
        <dd>Leasehold, 99 years from 3 October 2012</dd>

        <dt>Price paid</dt>
        <dd>&pound;188,000 on 3 October 2012</dd>

        <dt>Title quality</dt>
        <dd>Absolute</dd>

      </dl>

      <p class="footnote">
        This register was last changed on <b>15 October 2012</b> at <b>11:21:18</b>
      </p>

    </div>

  </div>

  <div class="legal-division--bottom">

    <h2 class="heading-large">About this title</h2>

    <div class="grid-row">
      <div class="column-third">
        <h3 class="font-small">Changes to this title</h3>
        <div id="graph-1" class="ct-chart ct-perfect-fifth"></div>
      </div>
      <div class="column-third">
        <h3 class="font-small">Recorded sale prices</h3>
        <div id="graph-2" class="ct-chart ct-perfect-fifth"></div>
      </div>
      <div class="column-third">
        <h3 class="font-small">Changes of ownership</h3>
        <div id="graph-3" class="ct-chart ct-perfect-fifth"></div>
      </div>
    </div>

  </div>

  <div class="callout--download">
    <a href="#">Download a full copy</a> of this title<!-- and associated documents-->
  </div>


</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
  
  <script type="text/javascript" src="/public/javascripts/jquery-1.11.2.js"></script>
  <script type="text/javascript" src="/public/javascripts/stick-at-top-when-scrolling.js"></script>
  <script type="text/javascript" src="/public/javascripts/stop-scrolling-at-footer.js"></script>
  <script type="text/javascript" src="/public/vendor/leaflet/leaflet.js"></script>
  <script type="text/javascript">
    $(function() {

      // initialise map
      var map = L.map('map-location').setView([50.9093302300135, -1.4162035035567726], 18);

      L.tileLayer('http://{s}.tiles.mapbox.com/v3/demotive.l9g87168/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &copy; <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18
      }).addTo(map);

      var marker = L.marker([50.9093302300135, -1.4162035035567726]).addTo(map);

      // stop the position:fixed subnav rolling into footer
      GOVUK.stopScrollingAtFooter.addEl($('.js-stick-at-top-when-scrolling'), $('.js-stick-at-top-when-scrolling').height());

    });
  </script>
  <script type="text/javascript" src="/public/vendor/chartist/chartist.js"></script>
  <script type="text/javascript">
    var data1 = {
      // A labels array that can contain any sort of values
      labels: ['1950', '1960', '1970', '1980', '1990', '2000', '2010'],
      // Our series array that contains series objects or in this case series data arrays
      series: [
        [0, 2, 4, 2, 1, 6, 3, 3]
      ]
    };

    var data2 = {
      labels: ['1950', '1960', '1970', '1980', '1990', '2000', '2010'],
      series: [
        [25000, 27000, 30000, 50000, 80000, 100000, 110000, 100000]
      ]
    };

    var data3 = {
      labels: ['1950', '1960', '1970', '1980', '1990', '2000', '2010'],
      series: [
        [1, 1, 1, 1, 1, 5, 5, 1]
      ]
    };

    var options = {
      axisX: {
        // The offset of the chart drawing area to the border of the container
        offset: 20
      },
      // Options for Y-Axis
      axisY: {
        offset: 0
      },
      // If the line should be drawn or not
      showLine: false,
      // If dots should be drawn or not
      showPoint: false,
      // If the line chart should draw an area
      showArea: true,
    };

    var barOptions = {
      axisX: {
        // The offset of the chart drawing area to the border of the container
        offset: 20
      },
      // Options for Y-Axis
      axisY: {
        offset: 20
      }
    };

    new Chartist.Line('#graph-1', data1, options);
    new Chartist.Line('#graph-2', data2, options);
    new Chartist.Bar('#graph-3', data3, barOptions);
  </script>

{{/bodyEnd}}

{{/govuk_template}}
