{{<govuk_template}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$head}}
  {{>includes/head}}
  <link href="/public/stylesheets/alphagov-static.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/vendor/leaflet/leaflet.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/register-v1.css" media="screen" rel="stylesheet" type="text/css" />
{{/head}}

{{$content}}

<main id="content" role="main">

  {{>digital-register/includes/banner}}

  <div class="global-breadcrumb">
    <nav role="navigation">
      <ol>
        <li><a href="/digital-register/journeys/v2/search-page">Find a register of title</a></li>
        <li><a href="/digital-register/journeys/v2/search-results-geo">Search results</a></li>
        <li><strong>HP725748</strong></li>
      </ol>
    </nav>
  </div>

  <div class="callout callout--summary collapse-top">

    <h1 class="heading-large first-heading">
      Summary of title <span class="title-flag">HP725748</span>
    </h1>

    <p>
      This register was last changed on <b>15 October 2012</b> at <b>11:21:18</b>
    </p>

    <div class="lede grid-row">

      <div class="column-third">

        <div itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">
            3a Mandela Way<br>
          </span>
          <span itemprop="addressLocality">Southampton</span><br>
          <span itemprop="postalCode">SO15 5RZ</span>
        </div>

      </div>

      <figure class="column-third">
        <div class="title-plan" id="map-location">
          <img src="http://placehold.it/276x184" alt="Map showing location of title address">
        </div>
      </figure>

    </div>

    <dl class="definition-tabular--b">
      <dt>Owner(s)</dt>
      <dd>
        <!-- if there's only 1 registered owner, don't wrap a <ul> -->
        <!--<ul class="collapse">-->
          Darcy Bloggs
      </dd>

      <dt>Lender(s)</dt>
      <dd>Abbey National PLC</dd>

      <dt>Tenure type</dt>
      <dd>Leasehold</dd>

      <dt>Price paid</dt>
      <dd>&pound;188,000 on 3 October 2012</dd>

      <dt>Title quality</dt>
      <dd>Absolute</dd>

    </dl>

    <!--
    <div class="pending-changes-flag">
      <p>
        There is a <a href="#">pending application</a> to remove the mortgage
      </p>
    </div>
    -->

  </div><!-- end summary -->

  <div class="grid-row">

    <div class="column-third register-nav">
      <section class="page-contents js-stick-at-top-when-scrolling">

        <h2 class="visuallyhidden">Register contents</h2>
        <nav>
          <ul>
            <li><a href="#property-register">Property register</a></li>
            <li><a href="#proprietorship-register">Proprietorship register</a></li>
            <li><a href="#charges-register">Charges register</a></li>
            <li><a href="#download-title">Download a copy of this title</a></li>
            <li><a href="#historical-changes">Changes to this title</a></li>
            <li><a href="#related-titles">Related properties</a></li>
          </ul>
        </nav>

        <div class="register-actions">
          <div class="icon-download">
            <a href="#">Download a copy</a> of this title<!-- and associated documents-->
          </div>
          <div class="icon-print">
            <a href="#">Print this page</a>
          </div>
        </div>

      </section>
    </div>

    <div class="column-two-thirds">

      <section id="property-register" class="text">
        
        <h2 class="heading-large collapse-top">Property Register</h2>

        <small class="register-datestamp">10 October 2012</small>
        <figure class="title-extent">
          <figcaption>
            <p>
              The Leasehold land shown edged with red on the plan of the above title filed at the Registry and being 3a Mandela Way, Southampton SO15 5RZ.
            </p>
            <p class="footnote">
              Ordnance Survey map reference SU4112SW scale 1:1250
            </p>
          </figcaption>
          <img src="/public/images/title-plan-3a-mandela-way.png" alt="Title pan of HP725748">
        </figure>


        <small class="register-datestamp">10 October 2012</small>
        <p>Short particulars of the lease(s) (or under-lease(s)) under which the land is held:</p>
        <dl class="definition-tabular">
          <dt>Date</dt>
          <dd>3 October 2012</dd>
          <dt>Term</dt>
          <dd>99 years</dd>
          <dt>Rent</dt>
          <dd>Peppercorn</dd>
          <dt>Parties</dt>
          <dd>
            <ol class="list-number">
              <li>David Bloggs</li>
              <li>Davida Bloggs</li>
            </ol>
          </dd>
        </dl>

        <small class="register-datestamp">10 October 2012</small>
        <p>The land edged red on the attached plan has the benefit of the rights granted by the Lease of the top flat dated 3 October 2012 referred to in the Charges Register.</p>

      </section>

      <section id="proprietorship-register" class="text">
        <h2 class="heading-large">Proprietorship Register</h2>
          
        <p class="font-medium">Title absolute</p>

        <small class="register-datestamp">15 October 2012</small>
        <h3 class="heading-small">Proprietor</h3>
        <div>
          Darcy Bloggs<br>
          3a Mandela Way,<br>
          Southampton<br>
          SO15 5RZ
        </div>

        <small class="register-datestamp">15 October 2012</small>
        <p>The price stated to have been paid on 3 October 2012 was &pound;188,000.</p>

      </section>

      <section id="charges-register" class="text">
        <h2 class="heading-large">Charges Register</h2>

        <small class="register-datestamp">10 October 2012</small>
        <p><b>Registered charge</b> dated 3 October 2012.</p>

        <small class="register-datestamp">10 October 2012</small>
        <p>Proprietor: Abbey National PLC (Co. Regn. No. 2294747) of Deeds Services, 101 Midsummer Boulevard, Milton Keynes MK9 1AA.</p>

      </section>

      <section class="text legal-division--top legal-division--bottom" id="download-title">
        <h3 class="heading-large heading-download">Download a copy of this title</h3>
        <p>
          You can <a href="#">download a PDF copy of the register of title</a> for your records.
        </p>

      </section>

      <div class="text">

        <section id="historical-changes">
          <h3 class="heading-large">Changes to this title</h3>
          <p>
            View <a href="#">pending and historical</a> changes to this title</a>
          </p>
        </section>

        <section id="related-titles">

          <h3 class="heading-large">Related properties</h3>

          <div class="panel-indent footnote">
            <p>For example, a related property could be the freehold building which contains several leasehold flats.</p>
          </div>

          <ul>
            <li><a href="#">Freehold register for 3 Mandela Way, title number DT3572811</a></li>
          </ul>

        </section>

      </div>

    </div>

  </div>

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
  
  <script type="text/javascript" src="/public/javascripts/jquery-1.11.2.js"></script>
  <script type="text/javascript" src="/public/javascripts/stick-at-top-when-scrolling.js"></script>
  <script type="text/javascript" src="/public/javascripts/stop-scrolling-at-footer.js"></script>
  <script type="text/javascript" src="/public/vendor/leaflet/leaflet.js"></script>
  <script type="text/javascript">
    $(function() {

      // initialise map
      var map = L.map('map-location').setView([50.9090094, -1.4154123], 18);

      L.tileLayer('http://{s}.tiles.mapbox.com/v3/demotive.la5i4jpb/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &copy; <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18
      }).addTo(map);

      var marker = L.marker([50.9090094, -1.4154123]).addTo(map);

      // stop the position:fixed subnav rolling into footer
      GOVUK.stopScrollingAtFooter.addEl($('.js-stick-at-top-when-scrolling'), $('.js-stick-at-top-when-scrolling').height());

    });
  </script>

{{/bodyEnd}}

{{/govuk_template}}
