{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Digital register and property page prototypes</h1>
	<!-- feel free to change this page to suit your needs -->

	<h2 class="heading-large">Digital register</h2>

	<ul>
		<li>
			<a href="/digital-register/">Version 1</a>
		</li>
	</ul>

	<h2 class="heading-large">Property page</h2>

	<ul>
		<li>
			<a href="/property-page/">Property page index</a>
		</li>
	</ul>

  <h2 class="heading-large">Digital register - view iterations</h2>
  <p><a href="register-ab-research">Iterations to digital register view (web page) and register downloads (pdf).</a></p>

</main>

{{/content}}

{{/layout}}
