{{<govuk_template}}

{{$head}}
  {{>includes/head}}
  <style type="text/css">
  	a {
  		display: inline-block;
  		margin-bottom: 0.3em;
  	}
	  small {
	  	position: relative;
	  	top: -0.3em;
		  font-size: 0.75em;
		  font-style: italic;
	  }
  </style>
{{/head}}

{{$pageTitle}}
	Prototypes
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="text">

		<h1 class="heading-xlarge">Prototypes</h1>
		<div class="text">
			<p>Static HTML prototypes demonstrating journeys and design.</p>
		</div>

		<h2 class="heading-large">Digital register</h2>

    <h3 class="heading-medium">Current User journeys</h3>
    <ul>
      <li>
        <a href="https://drv-proto-v14.herokuapp.com/drv-14/"><del>Digital register journey v14</del></a>
      </li>
    </ul>

		<h3 class="heading-medium">Historic User journeys</h3>
		<ul>
			<li>
				<a href="/digital-register/journeys/v1/"><del>Digital register journey v1</del></a>
			</li>
			<li>
				<a href="/digital-register/journeys/v2/search-page"><del>Digital register journey v2</del></a>
			</li>
			<li>
				<a href="/digital-register/journeys/v3/search-page">Digital register journey v3 - no results</a>
			</li>
			<li>
				<a href="/digital-register/journeys/v4/search-page"><del>Digital register journey v4 - citizen with payment</del></a>
			</li>
	    	<li>
	      		<a href="/digital-register/journeys/v5/search-page"><del>Digital register journey v5 - purchase and account creation</del></a>
	    	</li>
	    	<li>
	      		<a href="/digital-register/journeys/v6/search-page"><del>Digital register journey v6 - register summary with downloads</del></a>
	    	</li>
	    	<li>
	      		<a href="/digital-register/journeys/v7-1/search-page"><del>Digital register journey v7 - full register display with downloads</del></a>
	    	</li>
	    	<li>
	      		<a href="/digital-register/journeys/v8/search-page">Digital register journey v8</a>
	    	</li>
	      	<li>
	        	<a href="/digital-register/journeys/v9/reset"><del>Digital register journey v9</del></a>
	      	</li>
	        <li>
	      		<a href="/digital-register/journeys/v10/search-page">Digital register journey v10 (v8 + Judes doc)</a>
	    	</li>
		</ul>
		<h4 class="heading-small">Misc. journey pages</h4>
		<ul>
			<li><a href="/digital-register/journeys/misc/search-results-geo-filters"><del>Search results, with filter</del></a></li>
		</ul>

	  <h3 class="heading-medium">Digital register view iterations</h3>

		<h4 class="heading-small">Digital register</h4>
	  <ul>
	    <li>
	      <a href="/digital-register/register-view/digital-register-full-v1">
	      	<del>Digital register - full - v1<br><small>“Abstracted” view</small></del>
	      </a>
	    </li>
	    <li>
	      <a href="/digital-register/register-view/digital-register-full-v2">
	      	Digital register - full - v2<br><small>“Traditional” view</small>
	      </a>
	    </li>
	    <li>
	      <a href="/digital-register/register-view/digital-register-summary-v1"><del>Digital register - summarised - v1</del></a>
	    </li>
	    <li>
	      <a href="/digital-register/register-view/digital-register-summary-v1a"><del>Digital register - summarised - v1a</del></a>
	    </li>
      <li>
        <a href="/digital-register/journeys/v8/register-view">Digital register - summarised - v2</a>
      </li>
	  </ul>

	  <h4 class="heading-small">PDF documents</h4>
	  <ul>
	    <li>
	      <a href="/public/downloads/pdf/register-new-transport.pdf">Register “view”</a>
	    </li>
	    <li>
	      <a href="/public/downloads/pdf/official-register-new-transport.pdf">Register - official copy</a>
	    </li>
	  </ul>


		<h2 class="heading-large">Property page</h2>

		<h3 class="heading-medium">User journeys</h3>
		<ul>
			<li><a href="/property-page/prototype-v1">Property page journey v1</a></li>
		</ul>

		<h3 class="heading-medium">Property page view iterations</h3>
		<ul>
			<li><a href="/property-page/prototype-v0">Property page v0 (alpha baseline showing external data)</a></li>
			<li><a href="/property/PL20_7HE/25_UNDERWAYS_YELVERTON">Property page (MVP) v0</a></li>
			<li><a href="/property-page/prototype-mvp/property-page-mvp">Property page (MVP) v1</a></li>
			<li><a href="/property-page/prototype-v1/property-page-3">Property page v1</a></li>
		</ul>

	</div>
</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
{{/bodyEnd}}

{{/govuk_template}}
