{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <h1 class="heading-xlarge">Digital register</h1>

  <p>Versions and alternates of the digital register.</p>

  <h2 class="heading-large">Pages</h2>

  <ul>
    <li>
      <a href="/register-ab-research/">Digital register - full</a>
    </li>
    <li>
      <a href="/register-ab-research/digital/digital-register-summary-v1">Digital register - summarised</a>
    </li>
    <li>
      <a href="/register-ab-research/">Register - current (pdf)</a>
    </li>
    <li>
      <a href="/register-ab-research/">Register - typeset (pdf)</a>
    </li>
  </ul>

</main>

{{/content}}

{{/layout}}
