{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <h1 class="heading-xlarge">Digital register</h1>

  <p>Versions and alternates of the digital register.</p>

  <h2 class="heading-large">Digital register</h2>

  <ul>
    <li>
      <a href="/register-ab-research/digital-register-full-v1">Digital register - full - v1</a>
    </li>
    <li>
      <a href="/register-ab-research/digital-register-summary-v1">Digital register - summarised - v1</a>
    </li>
    <li>
      <a href="/register-ab-research/digital-register-summary-v1a">Digital register - summarised - v1a</a>
    </li>
  </ul>

  
  <h2 class="heading-large">PDF documents</h2>

  <ul>
    <li>
      <a href="/public/downloads/pdf/register-new-transport.pdf">Register “view”</a>
    </li>
    <li>
      <a href="/public/downloads/pdf/official-register-new-transport.pdf">Register - official copy</a>
    </li>
  </ul>

</main>

{{/content}}

{{/layout}}
